body {
    line-height: 1.3;
    font-family: 'Roboto Condensed', sans-serif;
}

#logo {
    width: 3em;
    border-radius:50%;
}


.navbar {
    background:green;
}

#general-text {
    font-size: 0.9em;
}

.card {
    background: none;
    font-size: 0.8em;
}

.accordion {
    background:white;
}
