body {
    line-height: 1.3;
    font-family: 'Arimo', sans-serif;
    color: white;
    background-image: url("img/background-img.jpeg");
}

a {
    color: white;
    font-weight: bold;
    font-
}

hr {
    border: white;
}

.btn-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

#logo {
    width: 3em;
    border-radius:50%;
}

.jumbotron {
    background: rgba(0,0,0,0.3);
}

.navbar {
    background:rgba(0,0,0,0.3);
    border-style: outset;
    border-color: black;
}

#general-text {
    font-size: 0.9em;
}

.card {
    border-radius: 80%;
    background: none;
}

.card-body {
    background: rgba(0,0,0,0.3);    
}

.accordion {
    background:rgba(0,0,0,0.3);
}
