.container-fluid {
    max-width: 70%
}

body {
    line-height: 1.3;
    font-family: 'Arimo', sans-serif;
    color: white;
    background-image: url("img/background-img.jpeg");
    letter-spacing: 2px;
}

a {
    color: white;
    font-weight: bold;
    font-
}

hr {
    border: white;
}

.btn-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

#logo {
    width: 3em;
    border-radius:50%;
}

.jumbotron {
    background: rgba(0,0,0,0.3);
}

.navbar {
    background:rgba(0,0,0,0.5);
    font-weight: bold;
}

.dropdown-menu {
    background:rgba(0,0,0,0.5);
    color: white;
}

.dropdown-item {
    color: white;
}

#general-text {
    font-size: 0.9em;
}

.card {
    background: none;
}

.card-body {
    background: rgba(0,0,0,0.3); 
}

.accordion {
    background:rgba(0,0,0,0.3);
}
